<nav class="main-nav">
  <ul class="main-nav-list">
    <li class="main-nav-item main-nav-item--logo"><a href="/">VIDJOT</a></li>
    <li class="main-nav-item">
      <a class="<%= path === '/' ? 'active' :'' %>" href="/">Home</a>
    </li>
    <li class="main-nav-item">
      <a class="<%= path === '/about' ? 'active' :'' %>" href="/about">About</a>
    </li>
  </ul>
</nav>
