<nav class="main-nav">
  <ul class="main-nav--ist">
    <li class="main-nav-item--logo">VIDJOT</li>
    <li class="main-nav-item--logo">Home</li>
    <li class="main-nav-item--logo">About</li>
  </ul>
</nav>
