<%- include("./includes/header.ejs")%>
<link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <%- include("./includes/navbar.ejs") %>
    <h1>About programmer Dash</h1>
    <img src="https://envato-shoebox-0.imgix.net/2a41/93b3-6f8b-4f1c-8767-cd9772b4ded7/kave+310.jpg?w=500&h=278&fit=crop&crop=edges&auto=compress%2Cformat&s=fbc0d75299d7cfda0b3c60ea52ba4aaf" alt="dash">



    <%-include("./includes/end.ejs")%>